# use glob syntax
syntax: glob

# Ignore folders
build/
testrunner/
[Oo]bj/
[Bb]in/
[Bb]ackup/
_ReSharper*/
_UpgradeReport*

# Ignore Visual Studio files
*.pdb
*.suo
*.user
*.bak
*.log
*.lib
*.userprefs

# ignore other bs
*.~?~
.DS_Store
*.swp
TestResult.*
.xake
.vs/
.ionide/
.idea/
.ionide/

CHAT_DATA/

# Node
node_modules/
fable_modules/

src/**/*.fs.js
src/Client/public/
