# use glob syntax
syntax: glob

# Ignore folders
build/
testrunner/
[Oo]bj/
[Bb]in/
[Bb]ackup/
_ReSharper*/
_UpgradeReport*

# NuGet Packages Directory
packages
.nuget/

# Ignore Visual Studio files
*.pdb
*.suo
*.user
*.bak
*.log
*.lib
*.userprefs

# ignore other bs
*.~?~
.DS_Store
*.swp
TestResult.*
.xake
.vs/
.paket/
.idea/
.idea/.idea.fschat/riderModule.iml
