source https://www.nuget.org/api/v2
source .nuget-packages

clitool Microsoft.DotNet.Watcher.Tools 2.0.0

nuget Suave
nuget Suave.OAuth
nuget Suave.Experimental
nuget Akkling > 0.7.0
nuget Akkling.Streams > 0.7.0
nuget Newtonsoft.Json

nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Json
