source https://www.nuget.org/api/v2
storage: none

clitool Microsoft.DotNet.Watcher.Tools 2.0.0

nuget Suave

source .nuget-packages/

nuget Akkling > 0.7.0
nuget Akkling.Streams > 0.7.0
nuget Suave.Experimental