@model fschat.Models.App

<!DOCTYPE html>
<html>
<head>
    <title>F# Chat</title>
</head>
<body>
    <div>
        <b>Click channel to join:</b>
        <br>
        <ul>
            @foreach(var channelName in Model.Channels)
            {
                <li><a href=@($"channels/{channelName}/join")>@channelName</a></li>
            }
        </ul>
    </div>
    <div>
        <a href="/">Home</a>
    </div>
</body>
</html>